<div class="row">
<div class="large-6 columns">
<%= form_for(@qualification) do |f| %>
  <% if @qualification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@qualification.errors.count, "error") %> prohibited this qualification from being saved:</h2>

      <ul>
      <% @qualification.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="large-12 columns">
      <label>Name</label>
      <%= f.text_field :name, :placeholder => "The name of the qual eg. Ultrasonic Weld Inspection" %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Number</label>
      <%= f.text_field :number, :placeholder => "The qual serial number or certificate number" %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Level</label>
      <%= f.text_field :level, :placeholder => "Your qual level, eg. 1, 2, 3 or Junior" %>
    </div>
  </div>
  
  <div class="row">
    <div class="large-12 columns">
      <%= f.submit :class => 'button radius success small' %>  
    </div>
  </div>
  
<% end %>
</div>
</div>