<tr class="<%= cycle("odd", "even", :name => "row_class") %> fields">
	<td><%= f.text_field :frequency, :class => "input-mini", :placeholder => "Frequency" %></td>
	<td><%= f.text_field :probe_type, :class => "input-mini", :placeholder => "Type" %></td>
	<td><%= f.text_field :mode, :class => "input-mini", :placeholder => "Mode" %></td>
	<td><%= f.text_field :serial, :class => "input-mini", :placeholder => "Serial #" %></td>
	<td><%= f.text_field :gain, :class => "input-mini", :placeholder => "Gain" %></td>
	<td><%= f.text_field :phase, :class => "input-mini", :placeholder => "Phase" %></td>
	<td><%= f.text_field :sensitivity, :class => "input-mini", :placeholder => "Sensitivity" %></td>
	<td><%= f.hidden_field :_destroy %>
	<%= link_to '<i class="icon-trash icon-white"></i> Remove Probe'.html_safe, nil, :onclick => "remove_fields(this);", :remote => true, :class => "btn btn-danger btn-small" %></td>
</tr>