<tr class="<%= cycle("odd", "even", :name => "row_class") %> fields">
	<td><%= f.text_field :defect_id, :class => "input-mini", :placeholder => "ID" %></td>
	<td><%= f.text_field :position, :class => "input-mini", :placeholder => "From 0" %></td>
	<td><%= f.text_field :length, :class => "input-mini", :placeholder => "Length" %></td>
	<td><%= f.text_field :depth, :class => "input-mini", :placeholder => "Depth" %></td>
	<td><%= f.text_field :height, :class => "input-mini", :placeholder => "Height" %></td>
	<td><%= f.text_field :angle, :class => "input-mini", :placeholder => "Probe Angle" %></td>
	<td><%= f.text_field :db, :class => "input-mini", :placeholder => "Amplitude" %></td>
	<td><%= f.text_field :result, :class => "input-mini", :placeholder => "Result" %></td>
	<td><%= f.text_field :defect_type, :class => "input-mini", :placeholder => "Type" %></td>
	<td><%= f.hidden_field :_destroy %>
	<%= link_to '<i class="icon-trash icon-white"></i> Remove Defect'.html_safe, nil, :onclick => "remove_fields(this);", :remote => true, :class => "btn btn-danger btn-small" %></td>
</tr>